@{
    ViewData["Title"] = "Check In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="admin-dashboard">
    <!-- Header -->
    <div class="dashboard-header">
        <div>
            <h2>
                <i class="fas fa-sign-in-alt"></i> CHECK-IN
            </h2>

        </div>
    </div>

</div>

