@{
    ViewData["Title"] = "Payments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="admin-dashboard">
    <!-- Header -->
    <div class="dashboard-header">
        <div>
            <h2>
                <i class="fas fa-calendar-plus"></i> PAYMENTS
            </h2>

        </div>
    </div>

</div>

